*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

aside{
    background-image: url(../../imagens/imagem-aside.webp);
    background-position: 20%;
    background-size: cover;
    height: 100vh;
    color: white;
}

aside h2{
    margin-top: 40px;
    text-align: center;
}

aside a{
    color: white;
    text-decoration: none;
}

main{
    background-color: rgb(221, 221, 221);
    height: 100vh;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -15px;
}
nav ul{
    list-style-type: none;
    margin-top: 100px;
    display: block;
   
}

nav ul li{
    padding-top: 30px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

.mr{
    margin-right: 10px;
}