aside {
  background-color: rgb(17, 86, 235);
  height: 100vh;
  text-align: center;
  align-items: center;
  color: white;
}

main {
  background-color: rgb(221, 221, 221);
  height: 100vh;
}

nav ul {
  list-style-type: none;
  margin-top: 100px;
  
}

nav ul li {
  padding-top: 30px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-right: 25%;
}

.mr {
  margin-right: 10px;
  color: white;
  
}
h5 {
  color: white;
}

.func {
  margin-top: 20px;
  background-color: rgb(17, 86, 235);
  border-radius: 20px;
  width: 230px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: white;
}

.func h5 {
  margin-left: 20px;
  color: white;
}

.name h5 {
  margin-left: 5px;
  color: white;
}
.name {
  margin-top: 20px;
  background-color: rgb(17, 86, 235);
  border-radius: 20px;
  width: 280px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;
}

.tasks {
  margin-top: 20px;
  background-color: rgb(17, 86, 235);
  border-radius: 20px;
  width: 230px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: white;
}

.margintop {
  margin: 50px;
}

i {
  margin-right: 10px;
}


.table-white {
  background-color: white;
  height: 600px;
  width: 90%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
}
