*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

aside{
  background-image: url(../../imagens/teste.jpg);
  background-position: 80%;
  background-size: cover;
  height: 100vh;
  color: rgb(0, 0, 0);
}

aside h2{
  margin-top: 40px;
  text-align: center;
}

aside a{
  color: rgb(0, 0, 0);
  text-decoration: none;
}

main{
  background-color: rgb(241, 241, 241);
  height: 100vh;
}
nav{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -15px;
}
nav ul{
  list-style-type: none;
  margin-top: 40px;
  display: block;
 
}

nav ul li{
  padding-top: 30px;
}

nav ul li a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
}
.logo-gestrator{
  width: 350px;
  height: 200px;
  margin-left: -25px;
}
.mr{
  margin-right: 10px;
}

  h5 {
    color: white;
  }
  
  
.margintop{
  margin: 50px;
}
#escolha-setor{
  margin-left: 60px;
}
#profile{
  margin-left: 15px;
}
.header-setor{
  border-radius: 12px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #0061A9;
  height: 40px;
  width: 70%;
}

.menu-alter{
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #0061A9;
  height: 70px;
  width: 90%;
}
.color-btn{
  color: white;
}

.agenda-relatorio{
  margin-left: 10px;
  
}

.menu-alter a{
  color: white;
  text-decoration: none;
}


.dropdown-menu {
  background-color: #0061A9;
}

.dropdown-menu a.dropdown-item {
  color: white; 
}

.dropdown-menu a.dropdown-item:hover {
  background-color: rgb(107, 149, 240);
  transition: 0.5s;
  transform: translateY(-3px);
}
 

  .teste-f {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
  }

 h2 {
    margin-left: 20px;
    justify-content: center;
  
  }

  /* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.wrapper{
  width: 420px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12); 
}

.wrapper header{
  display: flex;
  align-items: center;
  padding: 20px 30px 10px;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: #0061A9;
}
.days li:not(.active):hover::before{
  background: #f2f2f2;
}

.calendar-a {
  display: flex;
  justify-content: center;
}