aside{
    background-color: rgb(17, 86, 235);
    height: 100vh;
    text-align: center;
    color: white;
}

main{
    background-color: rgb(221, 221, 221);
    height: 100vh;
}

nav ul{
    list-style-type: none;
    margin-top: 100px;
}

nav ul li{
    padding-top: 30px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

.mr{
    margin-right: 10px;
}

.margintop{
    margin: 50px;
}
#escolha-setor{
    margin-left: 60px;
}
.header-setor{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(17, 86, 235);
    height: 40px;
    width: 70%;
}

.menu-alter{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(17, 86, 235);
    height: 70px;
    width: 90%;
}
.color-btn{
    color: white;
}
.agenda-relatorio{
    margin-left: 10px;
}

.formulario{
    background-color: white;
    height: 600px;
    width: 90%;
    margin-left: 60px;

}

.formulario h3{
    padding: 20px 0px 20px 30px;
}

form{
    padding: 20px 0px 0px 20px;
    width: 90%;

}